.banner{

    margin-bottom: 5%;
}


.form-group-div{
    max-width: 35%;
    margin: auto;
}

.button-div{

    max-width: 200px;
    margin: 0 auto 120px auto;

}

.error-div{
    max-width: 30%;
    margin: auto;
    padding: 20px;
}