.banner-login{
    margin-top: 5%;
    height: 10em;
    position: relative;
}
h3{
    text-align: center;
    padding: 16px;
    color: #75797c;
}

.page-logo{
    text-align: center;
    margin: auto;
}

.form-group-div{
    max-width: 35%;
    margin: 50px auto 10px auto;
}

.button-div{
    
    text-align: center;
    margin: auto;
    
}

.error-div{
    max-width: 30%;
    margin: auto;
    padding: 20px;
}
.signup-text{
    text-align: center;
    padding: 16px;

}