.managePageStyle{
    max-width: 1000px;
    margin: auto;
}

.manage-text-div{
    margin-top: 1%;
    text-align: justify;
    padding: 3%;
    background-color: #f9fcfc;
    border-radius: 20px;
    box-shadow: 0 0 5px #888;
}

.table-div{
    margin-top: 1%;
    background-color: #f9fcfc;
    border-radius: 20px;
    padding: 3%;
    box-shadow: 0 0 5px #888;
    
   
    
}


