.thermal-div{
    display: flex;
}

.thermal-wrapper{
    max-width: 1000px;
    margin: auto;
    margin-top: 1%;
    background-color: rgba(222, 250, 252, 1);
    padding: 1%;
    border-radius: 20px;
}

.thermal-div-1{

    margin-right: 5%;
}