.create-master-div{
    max-width: 1000px;
    margin: auto;
   
}

.div-form-create{
    margin-top: 1%;
    padding: 20px;
    background-color: rgba(249, 248, 244, 1);
    border-radius: 20px;
}

.button-sub{
    margin-left: 45%;
}

.form-project-info{
    margin-top: 5%;
}