.create-master-div{
    max-width: 1000px;
    margin: auto;
   
}

.div-form-create{
    margin-top: 1%;
    padding: 20px;
    background-color: #f9fcfc;
    border-radius: 20px;
    box-shadow: 0 0 5px #888;
}

.button-sub{
    margin-left: 45%;
}

.form-project-info{
    margin-top: 5%;
}